
h2{
	font-family: sans-serif;
	margin: 100px auto;
	text-align: center;
	font-size: 40px;
	max-width: 600px;
	position:relative;
	}
	h2:before{
	content: "";
	display:block;
	width: 120px;
	height:2px;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: -2;
	}
	h2:after{
	content: "";
	display:block;
	width: 120px;
	height:2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -2;
	}
	span{
	background: #fff
	}

    h4{
        text-align: center;
        
    }
    .box{
        border: 3px solid rgb(6, 59, 138);
        max-width: 900px;
        width: 100%;
        margin: auto;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(241, 240, 240);
        border-radius: 15px 50px
        
        
    }

    .box:hover {
            transform: scale(1.2);
           background-color: rgb(255, 255, 255);
          }

  

    
    