.vid{
    display: flex;
    justify-content: center;
}


h2{
	font-family: sans-serif;
	margin: 100px auto;
	text-align: center;
	font-size: 40px;
	max-width: 600px;
	position:relative;
	}
	h2:before{
	content: "";
	display:block;
	width: 120px;
	height:2px;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: -2;
	}
	h2:after{
	content: "";
	display:block;
	width: 120px;
	height:2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -2;
	}
	span{
	background: #fff
	}